<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if(!user){ %>
   		<a href='/users/login'>Login</a><br>
   		<a href='/users/register'>Register</a>
 	<% } else{ %> 
 	    <a href='/users/<%= user.id %>/profile'><%= user.username %></a><br>
   		<a href='/users/logout'>Logout</a>
	<% } %>
  </body>
</html>
